{{! Replace # with your social media link }}
<ul>
    <!-- Facebook -->
    <li class="social-icon">
        <a href="#" class="fa-stack fa">
            <span class="fa fa-facebook-f fa-stack-1x fa-inverse"></span>
        </a>
    </li>
	<!-- End Facebook -->
	
    <!-- Twitter -->
    <li class="social-icon">
        <a href="#" class="fa-stack fa">
                <span class="fa fa-lg fa-twitter fa-stack-1x fa-inverse"></span>
        </a>
    </li>
	<!-- End Twitter -->
	
    <!-- Google+ -->
    <li class="social-icon">
        <a href="#" class="fa-stack fa">
            <span class="fa fa-lg fa-google-plus fa-stack-1x fa-inverse"></span>
        </a>
    </li>
	<!-- End Google+ -->
	
    <!-- Instagram -->
    <li class="social-icon">
        <a href="#" class="fa-stack fa">
            <span class="fa fa-lg fa-instagram fa-stack-1x fa-inverse"></span>
        </a>
    </li>
	<!-- End Instagram -->
	
    <!-- Pinterest -->
    <li class="social-icon">
        <a href="#" class="fa-stack fa">
            <span class="fa fa-lg fa-pinterest fa-stack-1x fa-inverse"></span>
        </a>
    </li>
	<!-- End Pinterest -->
	
    <!-- Github -->
    <li class="social-icon">
        <a href="#" class="fa-stack fa">
            <span class="fa fa-lg fa-github fa-stack-1x fa-inverse"></span>
        </a> 
    </li>
	<!-- End Github -->
	
    <!-- Behance -->
    <li class="social-icon">
        <a href="#" class="fa-stack fa">
            <span class="fa fa-lg fa-behance fa-stack-1x fa-inverse"></span>
        </a>    
    </li>
	<!-- End Behance -->
	
    <!-- Linkedin -->
    <li class="social-icon">
        <a href="#" class="fa-stack fa">
            <span class="fa fa-lg fa-linkedin fa-stack-1x fa-inverse"></span>
        </a>    
    </li>
	<!-- End Linkedin -->
	
    <!-- Flickr -->
    <li class="social-icon">
        <a href="#" class="fa-stack fa">
            <span class="fa fa-lg fa-flickr fa-stack-1x fa-inverse"></span>
        </a>    
    </li>
    <!-- End Flickr -->
	
    <!-- Dribbble -->
    <li class="social-icon">
        <a href="#" class="fa-stack fa">
            <span class="fa fa-lg fa-dribbble fa-stack-1x fa-inverse"></span>
        </a>    
    </li>
	<!-- End Dribbble -->
	
    <!-- Youtube -->
    <li class="social-icon">
        <a href="#" class="fa-stack fa">
            <span class="fa fa-lg fa-youtube fa-stack-1x fa-inverse"></span>
        </a>    
    </li>
	<!-- End Youtube -->
	
    <!-- RSS -->
    <li class="social-icon">
        <a href="#" class="fa-stack fa">
            <span class="fa fa-lg fa-rss fa-stack-1x fa-inverse"></span>
        </a>    
    </li>  
	<!-- End RSS -->
</ul>